@charset "utf-8";
@font-face {
    font-family: 'Assassins';
    src: url('fonts/Assassin$.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
}

body{
    background-image: url(img/fundo.png);
    background-size: cover;
    background-position: center;
}

/*Menu*/

.header{
    position: sticky;
    top: 0;
}

.links{
    background-color: black;
    width: 100%;
    box-shadow: 0px 0px 5px black;
    position: sticky;
    top: 0;
}

.links ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

.links li{
    margin: 9px 0px;
}

.links a{
    text-decoration: none;
    color: white;
    background-color: transparent;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Assassins';
    padding: 10px 10px;
    text-decoration: underline;
    text-decoration-color: #e40000;
}

.links a:hover{
    background-color: white;
    color: black;
}

/*-------------------------------------------------------------------------------*/
/*Imagem de Apresentação*/

.divImgPrincipal{
    width: 100%;
    height: 100vh;
    background-image: url(img/fundo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.escurecer{
    background-color: #000000a8;
    width: 100%;
    height: 100%;
    text-align: center;
}

.divImgPrincipal img{
    margin-top: 15vh;
    width: 70%;
    height: 70%;
    object-fit:contain;
}

/*----------------------------------------------------------------------------*/
/*main*/

.main{
    margin: 0em 2em;
}

.main h2{
    font-size: 30px;
}

.main p{
    font-size: 19px;
}


/*-----------------------------------*/
/*Bloco 1*/

.bloco1{
    display: flex;
    padding: 1%;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.imgBloco1{
    width: 50%;
    height: 40vh;
    padding: 0.5%;
}

.imgBloco1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.historiaBloco1{
    width: 50%;
    text-align: justify;
}

.historiaBloco1 h2{
    text-align: center;
    margin: 0 0 2% 0;
}

.historiaBloco1 p{
    margin: 2% 0 0 0;
}

/*----------------------------------------------------------------------------*/
/*Bloco 2*/
.bloco2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}

/*                            franquias                                      */

.franquias{
    margin-top: 5%;
    padding: 2%;
}

.franquias .info{
    font-size: 12px;
    margin-top: 1%;
}

.franquias h2{
    margin: 0 0 1.5% 0;
}

.franquias p{
    margin: 1.5% 0 2% 0;
}
/*                            jogos                                                       */
.jogos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jogos h2{
    margin: 1% 0 3% 0;
}

.jogos p{
    text-align: justify;
    margin: 1% 0 5% 0;
}

.jogos img{
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 0.5em #00000081;
}

.odyssey, .origins, .valhalla, .ac1, .ac2, .broterhood, .revelations, .blackFlag, .rogue, .ac3, .liberation, .unity, .syndicate{
    width: 70%;
    padding: 2%;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 13%);
    background-color: #fafafa;
}


/*----------------------------------------------------------------------------*/

h2{
    font-family: 'Assassins';
    font-weight: bold;
}

p{
    font-family: 'Quicksand';;
    color: gray;
}

*::selection{
    color: white;
    background-color: rgba(0, 0, 0, 0.514);
}

/*espaçamento------------------------------------------------------------------- */
.spacePai{
    display: flex;
    width: 100%;
    align-items: center;
}

.line{
    width: 100%; height: 1px;
    background-color: #7e7e7e98;
    border-radius: 5px;
    margin-top: 20px;
}

.space{
    box-shadow: none !important;
    margin: 1.5% 0%;
    width: 3.5% !important;
}

/*---------------------------------------------------------------------------------*/

.footer{
    width: 100%;
    background-color: rgb(105, 105, 105);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-end;
    padding: 0% 3%;
}

.footer .line{
    background-color: #c9c9c9;
}

footer p{
    font-size: 12px;
    color: rgb(172, 172, 172);
}

@media all and (max-width: 768px){
    .main{
        margin: 0;
    }




    .bloco1{
        flex-direction: column;
        text-align: center;
    }

    .imgBloco1{
        width: 100%; 
        height: 50vh;
        margin-bottom: 1%;
    }

    .imgBloco1 img{
        width: 50%;
        height: 100%;
    
        object-fit: cover;
    }

    .historiaBloco1{
        width: 100%;
        order: -1;
    }

    .historiaBloco1 h2{
        margin: 1.5%;
    }

    .historiaBloco1 p{
        margin: 1%;
    }




    .odyssey, .origins, .valhalla, .ac1, .ac2, .broterhood, .revelations, .blackFlag, .rogue, .ac3, .liberation, .unity, .syndicate{
        width: 100%;
        border: none;
        box-shadow: none;
    }
} 



.odyssey span, .origins span{
    color: goldenrod;
    letter-spacing: 3px;
}

.valhalla span, .ac1 span{
    letter-spacing: 3px;
}

.ac1 span, .ac2 span, .broterhood span, .revelations span, .blackFlag span, .rogue span, .ac3 span, .liberation span, .unity span, .syndicate span{
    color: #cc0000;
}