@charset "utf-8";
@font-face {
    font-family: 'Assassins';
    src: url('fonts/Assassin$.ttf');
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    width: 100%;
    height: 100%;
    /*background-color: red;*/
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(img/fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.links{
    position: fixed; 
    top: 0;
    width: 100%;
    background-color: #00000080;
    padding: 2% 0%;
}

.links ul {
    margin: 0;
    padding: 0;
}

.links li {
    list-style: none;
    margin: 0px;
    display: inline;
}

.links a {
    padding: 15px 15px;
    margin: 0;
    background: transparent;
    text-decoration: none;
    color: #e4e4e4;
    font-family: 'Assassins';
    font-size: 22px;
}

.links a:hover {
    color: white;
    background-color: #0000007a;
    transition: 0.5s;
}


/*.logo{

}*/

.logo .imgLogo {
    height: 60%;
    width: 60%;
}


/*---------------------------------------*/

.main {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #ffffff;
    flex-wrap: wrap;
}

.bloco1 {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: row;
    justify-content: space-around;
}

.imgBloco1 {
    width: 45%;
    height: 100%;
    padding: 2% 1%;
    box-sizing: border-box;
}

.imgBloco1 img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.486);
}

.historiaBloco1 {
    width: 50%;
    height: 100%;
    padding: 1%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.historiaBloco1 h2 {
    position: relative;
    margin-top: 0;
}

.historiaBloco1 p {
    margin-top: 0;
    text-align: justify;
}

/*----------------------------------------------------------------------------*/

.bloco2 {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*.bloco2 img{

}*/

.info{
    font-size: 11.5px;
}

.info::before{
    content: 'ℹ️';
    color: gray;
}

.breakLine {
    width: 100%;
    height: 2%;
}

/*-----------------------------------*/
.jogos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(100px);
}

.jogos section{
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.125);
    border-radius: 3px;
    width: 60%;
    padding: 2%;
}

.jogos section:hover{
    width: 70%;
    transition: 0.8s;
    font-size: 110%;
}

.jogos img{
    width: 50%;
    border-radius: 1.5px;
    box-shadow: 0px 0px 5px rgba(134, 134, 134, 0.5);
    margin-top: 2%;
}

.jogos p{
    text-align: justify;
    font-size: 100%;
}


/*----------------------------------------------------------------------------*/

h2{
    font-family: 'Assassins';
    font-weight: bold;
}

p{
    font-family: 'Quicksand';;
    color: gray;
}

*::selection{
    color: white;
    background-color: rgba(0, 0, 0, 0.514);
}

/*espaçamento------------------------------------------------------------------- */
.spacePai{
    display: flex;
    width: 100%;
    align-items: center;
}

.line{
    width: 100%; height: 1px;
    background-color: #7e7e7e98;
    border-radius: 5px;
    margin-top: 20px;
}

.space{
    box-shadow: none !important;
    margin: 1.5% 0%;
    width: 3.5% !important;
}

/*---------------------------------------------------------------------------------*/

.footer{
    width: 100%;
    background-color: rgb(105, 105, 105);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-end;
    padding: 0% 3%;
}

.footer .line{
    background-color: #c9c9c9;
}

footer p{
    font-size: 12px;
    color: rgb(172, 172, 172);
}

/*SCROLL -----------------------------------------------------------------------------*/
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 1.5px;
}