@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Roboto:wght@300&family=Space+Mono:ital@1&display=swap');

*{
  box-sizing: border-box;
}

* h1, * h2, * h3{
  font-family: 'Space Mono';
  font-weight: normal;
}

#welcome-section h2{
  font-weight: bold;
}

* h3{
  font-weight: normal;
  text-transform: uppercase;
}

* p, a{
  font-family: 'Roboto';
}

body{
  margin: 0;
  padding: 0;
}

#navbar{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 20;
}

.nav-link{
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  background-color: #eb8d00;
  font-size: 20px;
  font-weight: bold;
  padding: 2%;
  border-bottom: 5px solid transparent;
}

.nav-link:hover{
  background-color: #cf7c00;
  border-bottom: 5px solid white;
}

#welcome-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1550063873-ab792950096b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=800');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#titlesHome{
  background-color: rgba(255,255,255,0.70);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  width: 50%;
  height: contain;
  text-align: center;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 3px solid rgba( 255, 255, 255, 0.18 );
  backdrop-filter: opacity(50%);
}

#projects{
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #242424;
}

#projects h2, #contact h2{
  margin-top: 0;
  padding-top: 1%;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.content{
  height: 70%;
  width: 70%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.bar{
  width: 100px;
  height: 10px;
  background-color: white;
  border: 2px solid white;
  margin: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover{
  background-color: orange;
  border: gray;
}

input[type="radio"]{
  display: none;
}

.slides{
  display: flex;
  width: 400%;
  height: 100%;
}

.slide{
  width: 25%;
  transition: 0.6s;
}

.slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
}

#slide2:checked ~.s1{
  margin-left: -25%;
}

#slide3:checked ~ .s1{
  margin-left: -50%;
}

#slide4:checked ~ .s1{
  margin-left: -75%;
}

#aButton{
  position: relative;
  top: 5%;
  text-decoration: none;
  font-weight: bold;
  background: none;
  padding: 1% 2%;
  border-radius: 3px;
  border: 4px solid gray;
  transition: box-shadow 0.1s;
  color: gray;
}

#aButton:hover{
  border: 4px solid #eb8d00;
  color: #ff9900;
  box-shadow: 0px 0px 15px #eb8d00, 0px 0px 15px #ffb547 inset;
  text-shadow: 0px 0px 10px #ffb951, 0px 0px 3px #ffc979 inset;
  top: 5.3%;
  transition: 0.2s;
}

#contact{
  width: 100%;
  height: 50vh;
  background-color: #eb8d00;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#contact-input{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#form input, textarea{
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-bottom: 3px solid black;
  padding-left: 2%;
  background-color: transparent;
  margin-top: 5%;
}

textarea{
  resize: vertical;
  height: 70px;
}

#form input::placeholder, textarea::placeholder{
  font-size: 15px;
  font-family: 'Roboto';
  color: gray;
}

#form input[type="submit"]{
  border: 4px solid black;
  color: black;
  text-shadow: 0px 0px 10px black, 0px 0px 3px black inset;
  top: 5.3%;
  transition: 0.2s;
  font-weight: bold;
  background: none;
  padding: 1% 2%;
  border-radius: 3px;
  text-transform: uppercase;
  transition: box-shadow 0.1s;
  cursor: pointer;
}

#form input[type="submit"]:hover{
  border: 4px solid #eb8d00;
  color: #b86e00;
  box-shadow: 0px 0px 15px #eb8d00, 0px 0px 15px #ffb547 inset;
  text-shadow: 0px 0px 10px #ffb951, 0px 0px 3px #ffc979 inset;
  transition: 0.3s;
}

#contact-content{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2%;
  background-color: #eb8d00;
}

#contact-content h2{
  padding: 0;
}

#contact-icons{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#contact-icons a{
  margin: 0 2%;
}

#contact-icons img{
  width: 32px;
  height: 32px;
}

::-webkit-scrollbar{
  background-color: black;
}

::-webkit-scrollbar-thumb{
  background-color: #eb8d00;
}

@media all and (max-width: 767px){

  body {
    overflow-x: hidden;
  }
  
  #titlesHome{
   width: 100vw;
   border-radius: 0;
  }

  #projects{
    height: 55vh;
  }

  .content{
    overflow-x: scroll;
    height: 250px;
    top: 30%;
  }

  .slide img{
    object-fit: cover;
  }

  .navigation{
    display: none;
  }

  #aButton{
    top: 10%;
  }
  #contact{
    flex-direction: column;
    height: 60vh;
  }
  #contact-content{
    order: -1;
    height:auto;
  }
  #contact-content, #contact-input{
    width: 100%;
  }
}